body {
    font-family: Arial, sans-serif;
}

#deck {
  margin: 20px 10px;  
  display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 2px 1px;
    justify-content: center;
}

.card {
  margin:10px;
  width: 100px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.card.face-down {
  background-color: #E0D3C3;
}

.card.face-down .front {
  transform: rotateY(180deg);
}

.card.face-down .back {
  transform: rotateY(0deg);
}

.card.face-up {
  background-color: #F9F6F1;
}

.card.face-up .front {
  transform: rotateY(0deg);
}

.card.face-up .back {
  transform: rotateY(180deg);
}

.card.matched {
  background-color: #003E3E;
}

.front, .back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
}
#game-grid {
  display: inline-block;
  vertical-align: top;
}

#scoreboards {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

#scoreboards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

#player1-score, #player2-score {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#player1-score {
  color:#5B7493;
}

#player2-score {
  color: #B98A82;
}

h1 {
  margin-right: 200px;
}
#player1-score, #player2-score, #turn-indicator {
  margin-right: 20px; /* 右側增加間距 */
}
#turn-indicator {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-right: 0;
}

#turn-indicator.player1-turn {
  color: #5B7493;
}

#turn-indicator.player2-turn {
  color: #B98A82;
}